@model ChatViewModel

@if (!Model.Id.HasValue)
{
    <div class="no-current-chat">
        <i class="fa-brands fa-facebook-messenger"></i>
        <p>Your messages</p>
        <p>Send a message to start chat</p>
    </div>
}
else
{
    <div class="chat-area">
        <div class="chat-area-header">
            <div class="chat-area-title">@Model.Name</div>
            <div class="chat-area-group">
                @foreach (var participant in Model.Participants)
                {
                    <img class="chat-area-profile" src=@participant.ProfilePictureUrl alt="" />
                }
            </div>
        </div>
        <div class="chat-area-main">
            @foreach (var message in Model.Messages)
            {
                var isOwner = message.CreatorId == ViewBag.CurrentUserId;
                var creator = Model.Participants.First(p => p.Id == message.CreatorId);
                var messageClass = isOwner ? "chat-msg owner" : "chat-msg";

                <div class="@messageClass">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img" src=@creator.ProfilePictureUrl alt="" />
                        <div class="chat-msg-date">
                            Message sent @message.CreatedOn ago
                        </div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">@message.Content</div>

                        @foreach (var image in message.MessageImages)
                        {
                            <div class="chat-msg-text">
                                <img src="@image.Url" alt="Message Image" />
                            </div>
                        }

                    </div>
                </div>
            }
        </div>
        <div class="chat-area-footer">
            <input id="write-message-input" type="text" placeholder="Type something here..." />
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376l0 103.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image">
                <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
                <circle cx="8.5" cy="8.5" r="1.5" />
                <path d="M21 15l-5-5L5 21" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile">
                <circle cx="12" cy="12" r="10" />
                <path d="M8 14s1.5 2 4 2 4-2 4-2M9 9h.01M15 9h.01" />
            </svg>
        </div>
    </div>
    <div class="detail-area">
        <div class="detail-area-header">
            <div class="msg-profile group">
                <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                    <path d="M12 2l10 6.5v7L12 22 2 15.5v-7L12 2zM12 22v-6.5" />
                    <path d="M22 8.5l-10 7-10-7" />
                    <path d="M2 15.5l10-7 10 7M12 2v6.5" />
                </svg>
            </div>
            <div class="detail-title">@Model.Name</div>
            <div class="detail-subtitle">Created on @Model.CreatedOn</div>
            <div class="detail-buttons">
                <button class="detail-button">
                    <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone">
                        <path d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07 19.5 19.5 0 01-6-6 19.79 19.79 0 01-3.07-8.67A2 2 0 014.11 2h3a2 2 0 012 1.72 12.84 12.84 0 00.7 2.81 2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 12.84 12.84 0 002.81.7A2 2 0 0122 16.92z" />
                    </svg>
                    Call Group
                </button>
                <button class="detail-button">
                    <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video">
                        <path d="M23 7l-7 5 7 5V7z" />
                        <rect x="1" y="5" width="15" height="14" rx="2" ry="2" />
                    </svg>
                    Video Chat
                </button>
            </div>
        </div>
        <div class="detail-changes">
            <div class="detail-change">
                Change Color
                <div class="colors">
                    <div class="color blue selected" data-color="blue"></div>
                    <div class="color purple" data-color="purple"></div>
                    <div class="color green" data-color="green"></div>
                    <div class="color orange" data-color="orange"></div>
                </div>
            </div>
        </div>
        <div class="detail-photos">
            <div class="detail-photo-title">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image">
                    <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
                    <circle cx="8.5" cy="8.5" r="1.5" />
                    <path d="M21 15l-5-5L5 21" />
                </svg>
                Shared photos
            </div>
            <div class="detail-photo-grid">
                @if (Model.Images.Count == 0)
                {
                    <p class="no-photos-shared-p">No shared photos yet</p>
                }
                @foreach(var image in Model.Images)
                {
                    <img src=@image.Url />
                }
            </div>
            <div class="view-more">View More</div>
        </div>
    </div>
}
