@model ChatViewModel

@if (!Model.Id.HasValue)
{
    <div class="no-current-chat">
        <i class="fa-brands fa-facebook-messenger"></i>
        <p>Your messages</p>
        <p>Choose a chat and start messaging</p>
    </div>
}
else
{
    <div class="chat-area">
        <input id="chatId" type="hidden" value="@Model.Id" />
        <div class="chat-area-header">
            <div class="chat-area-title">@Model.Name</div>
            <div class="chat-area-group">
                @foreach (var participant in Model.Participants)
                {
                    <img class="chat-area-profile" src=@participant.ProfilePictureUrl alt="" />
                }
            </div>
        </div>
        <div class="chat-area-main">
            <input id="currUserId" type="hidden" value="@ViewBag.CurrentUserId" />
            @foreach (var message in Model.Messages)
            {
                var isOwner = message.CreatorId == ViewBag.CurrentUserId;
                var creator = Model.Participants.First(p => p.Id == message.CreatorId);
                var messageClass = isOwner ? "chat-msg owner" : "chat-msg";

                <div class="@messageClass">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img" src=@creator.ProfilePictureUrl alt="" />
                        <div class="chat-msg-date">
                            sent @message.CreatedOn
                        </div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">@message.Content</div>
                    </div>
                </div>
            }
        </div>
        <div class="chat-area-footer">
            <input id="write-message-input" type="text" placeholder="Type something here..." />
            <button id="send-message-button" class="send-button">
                <i class="fa-regular fa-paper-plane"></i>
            </button>
        </div>
    </div>
    <div class="detail-area">
        <div class="detail-area-header">
            <div class="msg-profile group">
                <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                    <path d="M12 2l10 6.5v7L12 22 2 15.5v-7L12 2zM12 22v-6.5" />
                    <path d="M22 8.5l-10 7-10-7" />
                    <path d="M2 15.5l10-7 10 7M12 2v6.5" />
                </svg>
            </div>
            <div class="detail-title">@Model.Name</div>
            <div class="detail-subtitle">Created on @Model.CreatedOn</div>
            <div class="detail-buttons">
                <button class="detail-button delete-btn" data-chat-id="@Model.Id">
                        <svg fill="currentColor" stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                        </svg>
                        Delete Chat
                    </button>
            </div>
        </div>
        <div class="detail-changes">
            <div class="detail-change">
                Change Color
                <div class="colors">
                    <div class="color blue selected" data-color="blue"></div>
                    <div class="color purple" data-color="purple"></div>
                    <div class="color green" data-color="green"></div>
                    <div class="color orange" data-color="orange"></div>
                </div>
            </div>
        </div>
    </div>
}
