<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatAppClone</title>
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatAppClone.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="site-header">
        <div class="wrapper">
            <section class="site-title">
                <img src="~/assets/logo.png" alt="">
                <h1>ChatAppClone</h1>
            </section>
            <nav class="site-nav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="User" asp-action="Explore">Explore</a></li>
                    <li><a asp-controller="Chat" asp-action="Chats">Chat</a></li>
                    <partial name="_LoginPartial" />
                </ul>

                <div class="mobile-menu">
                    <a href="javascript:void(0);" class="bar-icon" onclick="toggleIcon(this)">
                        <i class="fa fa-bars"></i>
                    </a>

                    <div class="mobile-nav">
                        <a asp-controller="Home" asp-action="Index" class="@(ViewContext.ActionDescriptor.DisplayName!.Contains("Index") ? "active" : "") nav-link mt-auto"><i class="fa-solid fa-house-user"></i> Home</a>
                        <a asp-controller="Home" asp-action="Privacy" class="@(ViewContext.ActionDescriptor.DisplayName.Contains("Privacy") ? "active" : "") nav-link"><i class="fa-solid fa-shield-halved"></i> Privacy</a>
                        <a asp-controller="Home" asp-action="About" class="@(ViewContext.ActionDescriptor.DisplayName.Contains("About") ? "active" : "") nav-link"><i class="far fa-file-alt"></i> About</a>
                        <a asp-controller="User" asp-action="Explore" class="@(ViewContext.ActionDescriptor.DisplayName.Contains("About") ? "active" : "") nav-link"><i class="fa-regular fa-compass"></i> Explore</a>
                        <a asp-controller="Chat" asp-action="Chats" class="@(ViewContext.ActionDescriptor.DisplayName.Contains("Chats") ? "active" : "") nav-link mb-auto"><i class="fa-regular fa-comment-dots"></i> Chat</a>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer class="site-footer">
        <section class="footer-all-rights-reserved">
            <div class="wrapper">
                <p>&copy; 2024 ChatAppClone. All Rights Reserved.</p>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
