@page
@model NotificationsModel

@{
    ViewData["Title"] = "Notifications";

    int previousPage = Model.Query.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.Query.TotalNotificationsCount / Model.Query.NotificationsPerPage);

    bool shouldButtonBeDisabled = Model.Query.CurrentPage == maxPage || !Model.Query.Notifications.Any();
}

<link rel="stylesheet" href="~/css/notifications.css" asp-append-version="true" />

<section class="user-notifications">
    <h2>Total Notifications: @Model.Query.TotalNotificationsCount</h2>

    @foreach (var notification in Model.Query.Notifications)
    {
        <div class="notification-card">
            <div class="notification-type">
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <div class="notification-content">
                <p>@notification.CreatedOn</p>
                <p>@notification.Content</p>
            </div>
            <div class="remove-notification-btn">
                <a>
                    <i class="fa-solid fa-times"></i>
                </a>
            </div>
        </div>
    }
</section>

<section class="pagination-content">
    <div class="pagination-wrapper">
        <div class="pagination">
            <a class="prev page-numbers @(Model.Query.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="User"
               asp-action="Explore"
               asp-route-currentPage="@previousPage"><</a>

            @for (int i = 1; i <= maxPage; i++)
            {
                <a asp-controller="User"
                   asp-action="Explore"
                   asp-route-currentPage="@i"
                   class="page-numbers" class="@(Model.Query.CurrentPage == i ? "current" : string.Empty)">@i</a>
            }

            <a class="next page-numbers @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
               asp-controller="User"
               asp-action="Explore"
               asp-route-currentPage="@(Model.Query.CurrentPage + 1)">></a>
        </div>
    </div>
</section>
