@model ExploreUsersQueryModel

@{
    TempData["Title"] = "Explore";

    int previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalUsersCount / Model.UsersPerPage);

    bool shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Users.Any();
}

<link rel="stylesheet" href="~/css/explore.css" asp-append-version="true" />

<section class="explore-hero">
    <div class="wrapper">
        <section class="content">
            <h2>Explore</h2>
            <p>Go through and find members with whom you can chat!</p>
            <section class="hero-buttons">
                <a asp-controller="Home" asp-action="About" class="about-btn">About</a>
                <a asp-controller="Chat" asp-action="Chat" class="contact-btn">Chat</a>
            </section>
        </section>
        <img src="~/assets/explore3.jpg" alt="home">
    </div>
</section>

<section class="explore-users">
    <div class="wrapper">
        <section class="search-content">
            <h1>Find Users</h1>
            <div class="search-box">
                <form asp-controller="User" asp-action="Explore" method="get" id="searchForm">
                    <input asp-for="@Model.SearchTerm" type="text" placeholder="Type anything..." />
                    <a href="#" type="submit" onclick="document.getElementById('searchForm').submit(); return false;" class="search-btn">
                        <i class="fas fa-search"></i>
                    </a>
                </form>

                <div class="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </section>

        <section class="user-content">

            @if (!Model.Users.Any())
            {
                <div class="no-users-found">
                    <i class="fa-solid fa-ban"></i>
                    <h2 class="no-users-found">No Users were found by the given criteria!</h2>
                </div>
            }

            @foreach (var user in Model.Users)
            {
                <div class="user-card">
                    <input type="hidden" value="@user.Id" />
                    <img src=@user.ProfilePictureUrl />
                    <h3>@user.Username</h3>
                    <p>Joined on: @user.CreatedOn</p>
                    <p>Followers: @user.FollowersCount</p>

                    @if (user.IsFollowed)
                    {
                        <a>Unfollow</a>
                    }
                    else
                    {
                        <a>Follow</a>
                    }
                </div>
            }
        </section>

        <section class="pagination-content">
            <div class="pagination-wrapper">
                <div class="pagination">
                    <a class="prev page-numbers @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                       asp-controller="User"
                       asp-action="Explore"
                       asp-route-currentPage="@previousPage"
                       asp-route-searchTerm="@Model.SearchTerm"><</a>

                    @for (int i = 1; i <= maxPage; i++)
                    {
                        <a asp-controller="User"
                           asp-action="Explore"
                           asp-route-currentPage="@i"
                           class="page-numbers" class="@(Model.CurrentPage == i ? "current" : string.Empty)">@i</a>
                    }

                    <a class="next page-numbers @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                       asp-controller="User"
                       asp-action="Explore"
                       asp-route-currentPage="@(Model.CurrentPage + 1)"
                       asp-route-searchTerm="@Model.SearchTerm">></a>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/explore.js"></script>
}